.resource{
    display: flex;
    height: 50vh;
    width: 100%;
}
.resource2{
    display: flex;
    width: 100%;
    height: auto;
}
.resource2left{
    display: flex;
    flex-direction: column;
    width: 25%;
    border-left: 2px #ddd solid;
}
.resource2right{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
}
.resource2left ul{
    list-style-type: None;
    font-size: 400;
}
.resource2left a{
    text-decoration: none;
}
.resource2right p{
    font-size: 20px;
    text-align: start;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}