<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UBagri</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/landing.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="images/logo.jpeg" alt="Logo">
        </div>
        <nav class="navigation">
            <a href="{{ url_for('home')}}">home</a>
            <a href="{{url_for('weather')}}">Weather</a>
            <a href="{{ url_for('resource')}}">Education</a>
            <a href="{{url_for('market')}}">Market</a>
        </nav>
        <div class="search-button">
            <img src="images/search.png" alt="Search">
            <input type="text" placeholder="Search">
        </div>
    </header>
    <div class="part1">
        <div class="part1left">
            <h1>UBagri farmer support</h1>
            <h2>We are win for sale</h1>
            <p>work with farmer who want <br>
                right education and be successful on market.</p>
            <button>Watch demo</button>
        </div>
        <div class="part1right">
            <img src="{{ url_for('static', filename='images/agri_our_farmer.png')}}" alt="" srcset="" width="400px" height="300px">
        </div>   
    </div>
    <div class="part2">
        <div class="part2left">
            <img src="{{ url_for('static', filename='images/agri_resource.png')}}" alt="resource" height="250px" width="500px">
        </div>
        <div class="part2right">
            <h1>move faster for haversting More farmer</h1>
            <p>This is website that support different 
                farmer in African to faster successful through
                get farmer connect with market and resource
            </p>
        </div>
        
    </div>
    <div class="part3">
        <div class="part3left">
            <h1>choose how to work with on UBagri like you want</h1>
            <p>UBagri have many way, to interact with it
                and it best for sharing market info with
                new, connect with buyers, weather info for interact
                with season and more resource we are best
            </p>
        </div>
        <div class="part3right">
            <img src="{{ url_for('static', filename='images/agri_home.png')}}" alt="home" height="300px" width="500px">
        </div>
    </div>
    <div class="part4">
        <div class="part4left">
            <div class="part4lefttop">
                <img src="{{ url_for('static', filename='images/agri_marketing_profile.png')}}" alt="" width="400px" height="300px">
            </div>
            <div class="part4leftbottom"></div>
            <div class="part4leftright"></div>
        </div>
        <div class="part4right">
            <h1>Bring your farmer before buyers</h1>
            <p>
                one way to interact with market and 
                site into sponsorship is to create 
                good blogs then put before buyers
            </p>
        </div>
    </div>
    <div class="part5">
        <div class="block">
            <h1>80%</h1>
            <p>all get market for their product</p>
        </div>
        <div class="block">
            <h1>85%</h1>
            <p>users seccessful due to resource</p>
        </div>
        <div class="block">
            <h1>78%</h1>
            <p>connect to sponsors for his/her farm</p>
        </div>
    </div>
    <footer>
        <p>&copy; UBagri</p>
    </footer>
</body>
</html>