{% extends "base.html" %}

{% block container %}
    <h1>Crop Sell Pricing and Product Available</h1>
    <div class="market">
        <div class="navleft">
            <h2>Daily product</h2>
            <h3>Vegetables</h3>
            <ul>
                <li><a href="">Amaranth&nbsp&nbsp 1.3$</a></li>
                <li><a href="">Pumpkin Leaves&nbsp&nbsp 1.3$</a></li>
                <li><a href="">Cocoyam Leaves&nbsp&nbsp 0.3$</a></li>
                <li><a href="">cassava Leaves&nbsp&nbsp 0.8$</a></li>
                <li><a href="">Jute Mallow&nbsp&nbsp 1.3$</a></li>
            </ul>
        </div>
        <div class="navcenter">
            <div class="blog">
                <div class="blogupper">
                <img src="{{ url_for('static', filename='images/pineaple.png') }}"" alt="" width="150px" height="100px" position="fixed">
                <h2>pineapple</h2>
                <p>The pineapple market is experiencing 
                    strong growth driven by increase
                    strong growth driven by increasing 
                    consumer demand for fresh 
                    and processed pineapple products
                </p></div>
            <div class="bloglow">
                <div class="bloglowimg">
                    <img src="{{ url_for('static', filename='images/agri_farmer3.png') }}" alt="" width="100%" height="100%">
                </div>
                <div class="bloguser">
                    <h4>uwiringiyimana</h4>
                    <p>agri Engineer</p>
                </div>
            </div>
            </div>
        {% for blog in blogs %}
        <div class="blog">
            <div class="blogupper">
            <img src="{{ blog.image }}" alt="" width="150px" height="100px" position="fixed">
            <h2>pineapple</h2>
            <p>{{ blog.blog }}
            </p></div>
        <div class="bloglow">
            <div class="bloglowimg">
                <img src="{{ blog.image_profile }}" alt="" width="100%" height="100%">
            </div>
            <div class="bloguser">
                <h4>{{ blog.username }}</h4>
                <p>agri Engineer</p>
            </div>
        </div>
        </div>
        {% endfor %}
    
</div>
    <div class="navright">
        <div class="right">
            <img src="{{ url_for('static', filename='images/agri_market_Eac.png') }}" alt="">
            <p>fruits and vegetables in the Kimironko market is available right now</p>
        </div>
        <div class="right">
            <img src="{{ url_for('static', filename='images/agri_market_kigali_nyarugenge.png') }}" alt="">
            <p>fruits and vegetables in the Kimironko market is available right now</p>
        </div>
    </div>
</div>
<h1>why to Trust us on Makret</h1>
<div class="navbuttom">
    <div class="buttomblog">
        <img src="{{ url_for('static', filename='images/benpicture.jpeg')}}" alt="">
        <p>hello ever user i benjamin
            one use of agri market connect
            on both nation and intenation market
        </p>
    </div>
</div>

{% endblock %}
