{% extends "base.html" %}
{% block container %}
<div class="resource"></div>
<div class="resource2">
    <div class="resource2left">
        <ul>
            <li><a href="#animal">Animals</a></li>
            <li><a href="#Biotechnology">Biotechnology</a></li>
            <li><a href="Broadband">Broadband</a></li>
            <li><a href="climate">climate</a></li>
            <li><a href="conservation">conservation</a></li>
            <li><a href="">data</a></li>
            <li><a href="">disaster</a></li>
            <li><a href="">crops</a></li>
            <li><a href="">planting</a></li>
            <li><a href="">researc and discovery</a></li>
        </ul>
    </div>
    <div class="resource2right">
    
    <section id="animal">
        <h2>Animals</h2>
        <p>Raising livestock and producing animal products is half of Rwanda agriculture. 
            Rwanda animal agriculture provides high quality, safe, 
            nutritious food and products across the globe, adding value to crop 
            and forage lands, supporting local economies, and efficiently utilizing global 
            resources while continually
             maintaining a focus on the highest standards for animal care and wellbeing.</p>
        <p>The United States is a world leader in milk production. Rwanda 
            dairy farms, which are overwhelmingly family-owned and managed, 
            are generally members of producer cooperatives. 
            Dairy products range from cheese, fluid milks, yogurt, butter, and 
            ice cream to dry or condensed milk and whey products, 
            which are main ingredients in processed foods.
            Helping kids understand the processes of where food comes 
            from encourages them to be less wasteful and appreciate that food doesn’t 
            all just come from shops and supermarkets. This level of understanding 
            is really beneficial and can also encourage a greater curiosity for a variety 
            of foods. As well as learning about where their food comes from, children will 
            also learn about different animals and their natural habitats.
        </p>
    </section>
    <section id="Biotechnology">
        <h2>Biotechnology</h2>
        <p>Biotechnology had a significant impact on many areas of society, from medicine to agriculture to environmental science. One of the key techniques used in biotechnology is genetic engineering, which allows scientists to modify the genetic makeup of organisms to achieve desired outcomes. This can involve inserting genes from one organism into another, and consequently, create new traits or modifying existing ones.[3]

            Other important techniques used in biotechnology include tissue culture, which allows researchers to grow cells and tissues in the lab for research and medical purposes, and fermentation, which is used to produce a wide range of products such as beer, wine, and cheese.
            
            The applications of biotechnology are diverse and have led to the development of essential products like life-saving drugs, biofuels, genetically modified crops, and innovative materials.[4] It has also been used to address environmental challenges, such as developing biodegradable plastics and using microorganisms to clean up contaminated sites.</p>
    </section>
    <section id="Broadband">
        <h2>Broadband</h2>
        <p>Broadband-enabled technology is intertwined in agriculture.1 Continued advancement and
            evolution of this trend is important from a national policy perspective because it affects both
            food productivity and economic activity. Agricultural technology, or ag tech,
            2 refers to the
            incorporation of technology, generally electronic and computer controlled as opposed to
            mechanical, in agricultural endeavors. It can be invoked to support crop efficiencies and
            blockchain logistics.3 Ag tech can play a decisive role in many farming sectors, including row
            crops, specialty crops, livestock, and dairy production. 
            This is consistent with technology prices, generally as <br> (i) processing
            power grows exponentially in relatively quick cycles,54 (ii) ongoing improvements change what
            is considered “state of the art,” <br> (iii) increased demand results in higher production, leading to
            economies of scale that enable lower costs and pricing. A report explains, “Due to the evolution
            of technology, the size and shape of sensors is getting smaller and more sophisticated, while in
            parallel the general cost of the IoT devices is getting lower.” Decreasing prices for technology
            are often demonstrated in both lower constant-dollar and nominal dollar values. These overall
            decreasing costs would be anticipated to presage increased ag tech adoption over time. In this
            vein, tech adoption can be perceived as a steady incline punctuated by spikes as adoption rates
            increase; this may be visualized as a graph that features time on the X (horizontal) axis and
            adoption on the Y (vertical) axis. Innovative developments will be represented by spikes on the
            upward sloping X line that reflects action by early adopters, corresponding to a higher point on
            the Y (vertical/adoption) axis. That spike may then temper to a more moderate incline when
            initial excitement wanes but as the now-common technology is adopted by a broader community
            of users. The X line may then spike again when either (a) prices drop or (b) a new innovation </p>
    </section>
    <section id="climate">
        <h2>Climate</h2>
        <p>Climate change and food and nutrition insecurity pose two of the greatest development challenges of our time. Yet a more sustainable food system can not only heal the planet, but ensure food security for all.

            Today, the global agrifood system emits one-third of all emissions. Global food demand is estimated to increase to feed a projected global population of 9.7 billion people by 2050. Traditionally, the increase in food production has been linked to agricultural expansion, and unsustainable use of land and resources. This creates a vicious circle, leading to an increase in emissions. 
            
            Food systems are the leading source of methane emissions and biodiversity loss, and they use around 70% of fresh water. If food waste were a country, it would be the third highest emitter in the world. Meanwhile, emissions from agriculture are increasing in developing countries – a worrying trend which must be reversed.
            
            Without significant climate mitigation action in the agri-food sector, the Paris Agreement goals cannot be reached. Agriculture is the primary cause of deforestation, threatening pristine ecosystems such as the Amazon and the Congo Basin. Without action, emissions from food systems will rise even further, with increasing food production.</p>
    </section>
    <section id="conservation">
        <h2>Conservation</h2>
        <p></p>
    </section>
</div>
</div>
{% endblock %}